
/* CSS GERAL. RESET */
body, p, h1, h2, h3, h4, p, span, input, textarea {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}
h2 {
    font-size: 30px;
}
.container {
    max-width: 1920px;
    width: 100%;
}
/* Navbar */
#navbar {

 /* position: fixed;*/
    background-color:#FFA500;
    color:#fff;
    padding: 0 15px;
    height: 90px;
 /* height: 100px;
    width: 100%;*/
}
#navbar h2, #navbar ul, #navbar-list li {
    display: inline-block;
}
#navbar p {
    color:#000;
    margin: 0;
    line-height: 0px;
    margin-left: 90px;    
}
#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 90px;
}

#navbar img {
    /*Ajustando o tamanho do logo da imagem - Inicio*/
    width: 80px;
    padding: 1px;
    /*Ajustando o tamanho do logo da imagem - Fim*/
    height: 60px;
    position: absolute;
    top: 10px;
}

#navbar ul {
    float: right;
    margin-top: -20px;
}

#navbar li {
    margin: 0 10px;
}

#navbar-list li a {
    text-decoration: none; /*Tirando o UnderLine do link*/
    color: #fff;
}

#navbar-list li a:hover {
    /*border-bottom: 1px solid #fff;*/
    color: #000;
    transition: 0.5s;
}

/*Banner*/
#main-banner {
    height: 80vh;
    background-image: url("../img/img_npcti_banner_background.jpg");
    background-size: cover;
    padding-top: 1vh;
}
#banner-info {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFA500;
    padding: 50px;
    font-size: 18px;
}
#banner-info img {
    height: 230px;
    /*border-radius: 30%;*/
    /*background-color: #fff;*/
    margin-top: 50px;
    margin-bottom: 30px;
}
/*ABOUT*/
#about-section {
    text-align: center;
    background-color: #FFA500;
    color:#fff;
    padding: 50px;
    height: 350px;
}
#about-section h2 {
    margin-bottom: 20px;
}
#about-section p {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    line-height: 40px;
}
/*SKILLS*/
#skills-section {
    margin-top:-100px;
    background-color: #fff;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ddd;
    border-radius: 10px; 
}
#skills-section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skills-container {
    flex: 1 1 1;
    text-align: center;
    padding: 60px 25px;
}
.central {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.skills-container h3 {
    color:#FFA500;
    font-size: 20px;
}
.skills-container img {
    height: 60px;
    padding: 15px;
    margin-bottom: 25px;
    border-top: 1px solid #FFA500;
    border-left: 1px solid #FFA500;
    border-bottom: 4px solid #FFA500;        
    border-right: 4px solid #FFA500;    
}
.skills-container .subtitle {
    font-weight: bold;
    color:#FFA500;
    margin-top: 50px;
    margin-bottom: 15px;
}
.skills-container p{
    line-height: 25px;
}

.btnskills-container {
    margin-top: 70px;    
}
.btn-skills {
    text-transform: uppercase;
    background-color: #FFA500;
    color: #fff;
    border:2px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    transition: 0.5s;
}

.btn-skills:hover {
    background-color: #fff;
    border-color: #FFA500;
    color:#FFA500;    
}

/* Estilizando o botão submit
.skills-container input[type=submit] {
    border-radius: 5px;
    border-color: transparent;
    margin-top: 25px;
    font-size: 20px;
    background-color: #FFA500;
    text-transform: uppercase;
    color: #fff;
    cursor:pointer;
    transition: 0.5s;
    display:inline-block;
}
.skills-container input[type=submit]:hover {
    background-color: #fff;
    border-color: #FFA500;
    color:#FFA500;
}
*/

/*Seção de Ultimos empregos*/
#lastjobs-container{
    text-align: center;
    padding: 100px 0;    
}
.wrapper {
    max-width: 1200px;
    position: relative;
    margin-left: auto;
    margin-right: auto;    
}
#lastjobs-container h1 {
    font-size: 50px;
    margin-bottom: 50px;
    color: #FFA500;
}
#lastjobs-container ul {
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 10px;
}
#lastjobs-container ul li {
    list-style: none;
    text-align: left;
    border-bottom: solid 1px #ccc;
    height: 80px;
    position: relative;
}
#lastjobs-container ul li:last-child {
    border: none;
}
.clickarea {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
/*Imagem das empresas*/
.company-box {
    display: inline-block;
    width: 70%;
    position: relative;
    padding-left: 1%;
}
.company-box img {
    width: 100px;
    margin-top: 2.5px;    
}
.company-info {
    display: inline-block;
    margin-left: 200px;
    margin-top: 10px ;
    text-align: left;
    position: center;
}
.company-info h3 {
    font-weight:300px;
    margin-bottom: 10px;
}
.company-info p {
    font-weight: bold;    
}
/*Localidade das empresas*/
.locality {
    color: #6d6d6d;
    display: inline-block;
    width: 25%;
    position: absolute;
    height: 100%;
    line-height: 80px;
}
.locality i, .locality p {
    display: inline-block;
}
.locality i {
    margin-right: 5px;
}

/*Footer - Rodape da página*/
footer {
    background-color: #FFA500;
    padding-top: 5em 0;
    padding-bottom: 40px;
    /*border-top:5px solid #6d6d6d;*/
}
Footer h2,h3, footer p, footer a, footer span {
    color: #fff;
}
footer h3 {
    font-weight: 400;
}
footer a {
    text-decoration: none;
}
footer ul {
    padding: 0;
}
footer li {
    list-style: none;
}
.footer-box {
    width: 41%;
    padding: 1%;
    float:right;
}
footer .wrapper:after {
    clear:both;
    content: "";
    display: block;
}
.company-footer {
    width: 100%;
}

.company-footer h2 {
    margin-top: 20%;
}
.company-footer h2, .company-footer p {
    margin-bottom: 20px;
}
.footer-list li {
    margin-bottom: 15px;
}
.footer-list a {
    transition: 0.5s;
}
.footer-list a:hover {
    color:#000;
}
.footer-list li:after {
    clear: both;
    content:"";
    display:block;
}
.fab {
    font-size: 30px;
    margin-right: 10px;
    float: left;
}
.footer-list li span {
    float:left;
    height: 30px;
    line-height: 30px;
}
.footer-bottom {
    border-top: 1px solid #fff;
}
.footer-bottom p {
    font-weight: 150;
    margin-top: 10px;
    text-align: center;
}
