
/* CSS GERAL. RESET */
body, p, h1, h2, input, textarea {
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}

h2 {
    font-size: 30px;
}

/* Navbar */
#navbar {

    background-color:#696969;
    color:#fff;
    padding: 0 15px;
    height: 90px;
}

#navbar h2, #navbar ul, #navbar-list li {
    display: inline-block;
}

#navbar p {
    color:#FF8C00;
    margin: 0;
    line-height: 0px;
    margin-left: 65px;    
}
#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 65px;
}

#navbar img {
    /*Ajustando o tamanho do logo da imagem - Inicio*/
    width: 50px;
    padding: 5px;
    /*Ajustando o tamanho do logo da imagem - Fim*/
    height: 50px;
    position: absolute;
    top: 10px;
}

#navbar ul {
    float: right;
    margin-top: -20px;
}

#navbar li {
    margin: 0 10px;
}

#navbar-list li a {
    text-decoration: none; /*Tirando o UnderLine do link*/
    color: #fff;
}

#navbar-list li a:hover {
    border-bottom: 1px solid #fff;
}

/*Banner*/
#main-banner {
    height: 80vh;
    background-image: url(img/img_back_5.jpg);
    background-size: cover;
    padding-top: 5vh;
}
#banner-info {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #000;
    padding: 50px;
}
#banner-info img {
    height: 200px;
    /*border-radius: 30%;*/
    /*background-color: #fff;*/
    margin-top: 50px;
    margin-bottom: 30px;
}
/*ABOUT*/
#about-section {
    text-align: center;
    background-color: #696969;
    color:#fff;
    padding: 50px;
    height: 350px;
}
#about-section h2 {
    margin-bottom: 20px;
}
#about-section p {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    line-height: 40px;
}
/*SKILLS*/
#skills-section {
    margin-top:-100px;
    background-color: #fff;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ddd;
    border-radius: 10px; 
}
#skills-section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skills-container {
    flex: 1 1 1;
    text-align: center;
    padding: 60px 25px;
}
.central {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.skills-container h3 {
    color:#FF8C00;
    font-size: 20px;
}
.skills-container img {
    height: 60px;
    padding: 15px;
    margin-bottom: 25px;
    border-top: 1px solid #FF8C00;
    border-left: 1px solid #FF8C00;
    border-bottom: 4px solid #FF8C00;        
    border-right: 4px solid #FF8C00;    
}
.skills-container .subtitle {
    font-weight: bold;
    color:#FF8C00;
    margin-top: 50px;
    margin-bottom: 15px;
}
.skills-container p{
    line-height: 25px;
}

/*JOBS*/
#jobs-section {
    text-align: center;
    padding-top: 50px;  
}
#jobs-section h2 {
  color: #FF8C00;
  margin-bottom: 30px;    
}
#jobs-section p {
    margin-bottom: 50px;    
}
/*
#jobs-section a {
    font-weight: bold;
    color:#FF8C00;
}
*/
.job-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.job-box {
    flex: 1 1 1200px;
    margin-left: 25px;
    margin-right: 25px;
    height: 200px;
    background-size:contain;  
    border-right: 2px solid #FF8C00;
    border-bottom: 2px solid #FF8C00;
}
.job-box {
   flex: 1 1 200px;
   margin-left: 25px;
   margin-right: 25px;
   height: 300px;
   background-size: cover;
   border-right: 2px solid #FF8C00;
   border-bottom: 2px solid #FF8C00;
}
.emp1 {
    background-image: url(emp1.png);
}
.emp2 {
    background-image: url(img_sonda.png);
}
.emp3 {
    background-image: url(emp1.png);
}
